
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
 header{
    background-color:rgb(228, 212, 194);
    width:100%;
    position: fixed;
    z-index: 999;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;

  }
  .img-logo{
      height: 80px;
      width: 150px;
  }
  .navigation a{
     color:#f3ba00 ;
     text-decoration:none;
     font-size: 1.1em;
     font-weight: 600;
     padding-left: 50px;

  }
.navigation a:hover{
    color: darkgoldenrod;
}

section{
    padding: 200px 200px;

}
.main{
    width: 100%;
    min-height: 100vh;
    
    align-items: center;
    background:url(images/back.jpg)no-repeat;
    background-size: cover;
    background-position:center ;
    background-attachment:fixed ;



}
.main h2{
    color: white;
    font-size: 1.5em;
    font-weight:550; 
      
}
.main h2 span{
    color: #fdc91f;
    display: inline-block;
    margin-top: 10px;
    font-size:3em ;
    font-weight:700 ;
}
.main h3{
    color: white;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top:10px ;
    margin-bottom:30px;

}
.main-btn{
    color:white;
    background-color: #f3ba00;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;

}
.main-btn:hover{
    background-color: #9c7c12;
    transform: scale(1.1);
}
.social-icons a{
    color: white;
    font-size: 1.7em;
    padding-right: 40px;
   
}
.social-icons a:hover{
    color: #f3ba00;
    
}
.serv{
    display: flex;
    justify-content: center;
    color: #f3ba00;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;

}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
   

}
.card{
    background-color: #ffffff;
    box-shadow: 0 5px 25px rgba(255, 238, 7, 0.445) ;
    width: 21.25em;
    border-radius: 15px;
    padding: 20px;
    margin: 30px;
    transition:0.9s ease ;



} 
.card:hover{
    transform: scale(1.2);

}
.icon{
    color: #fdc91f;
    font-size: 8em;
    text-align: center;
}
.info {
    text-align: center;

}
.info h3{
    color: #f3ba00;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;


}
.projects{
    background-color: #352a06;
}
.projects .content{
margin-top: 30px;

}
.project-card{
    background-color: #ccc19f;
    border: 1px solid #f3ba00;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius:10px ;
    margin: 20px;
    transition:0.7s ease ;
}
.project-card:hover{
    transform:scale(1.1) ;

}
.project-img img{
    width: 100%;
}

.project-card:hover .project-img{
    opacity: 0.9;
}
.project-info{
    padding: 1em;

}
.project-category{
    font-size:0.85em;
    color:black ;
     
}
.project-title{
    display:flex ;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;

}
.more-details{
    text-decoration: none;
    color: #e4b10a;


}
.more-details:hover{
    color:#9c7c12;

}
    span{
        font-size: large;
        color: #755b03
    }

 .cards-about .icon{
     font-size: 4.5em;
 }   
.footer{
    background-color:rgb(228, 212, 194); 
    padding: 2em;
    display: flex;
    justify-content: space-between;
  
}
.footer-title{
    font-size: 1.3em;
    font-weight: 600;

}
.footer span{
    color: #e4b10a;
    font-weight: 700;
}
.footer .social-icons{
    
}